/* Booking list container */
.booking-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
  }
  
  /* Table container */
  .table-container {
    width: 100%;
    overflow-x: auto;
    margin-top: 20px;
  }
  
  /* Booking table */
  .booking-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    background-color: #f9f9f9;
  }
  
  .booking-table th,
  .booking-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .booking-table th {
    background-color: maroon;
    color: white;
    font-weight: bold;
  }
  
  .booking-table tr:hover {
    background-color: #ddd;
  }
  
  /* Buttons styling */
  button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  button:hover {
    background-color: #2196F3;
    color: white;
  }
  
  .edit-button:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .delete-button:hover {
    background-color: #f44336;
    color: white;
  }
  
  .complete-button:hover {
    background-color: #2196F3;
    color: white;
  }
  
  /* Save and Cancel buttons */
  .save-button {
    background-color: #4CAF50;
    color: white;
  }
  
  .save-button:hover {
    background-color: #388E3C;
  }
  
  .cancel-button {
    background-color: #f44336;
    color: white;
  }
  
  .cancel-button:hover {
    background-color: #D32F2F;
  }
  